/*reviews*/
.ReviewsSection
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 3vw 0;
    font-size:x-large;
}
.ReviewsTitle
{
    font-size: 3vw;
    margin-bottom: 5vw;
}
.ReviewsContainer
{
    display: flex;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
}
.Card
{
    width: 22vw;
    padding: 0.5vw;
    box-shadow: 0 0 5px #008080;
    background-color: white;
    position: relative;
    box-sizing: border-box;
    transition: transform 0.3s ease;

}
.User_avatar_quote
{
    display:flex;
    align-items: center;
    column-gap: 2vw;
    margin-bottom: 0vw;
}
.Avatar_Quote img
{
    width: 4vw;
    height: 4vw;
    object-fit: cover;
    border-radius: 50%;
}
.Avatar_Quote i
{
    font-size: 7vw;
    color: #999; 
    opacity: 0.6;
}

.UserName_Paragraph h2
{
    font-size: 1.2vw;
    text-align: left;
    margin: 1vw 0 0.5vw;
}
.UserName_Paragraph p
{
    font-size: 0.8vw;
    text-align: justify;
    color: #333;
    line-height: 1.5;
}
.Icons
{
    margin-bottom: 1vw;
    text-align: left;
}
.Icons i
{
    font-size: 1vw;
}
